.About {
  background-color: #ebdfc8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 200px;
}
.about-img {
  display: flex;
  height: 40vmin;
  pointer-events: none;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  top: 230px;
  left: 30px;
  box-shadow: 0 4px 10px rgba(90, 27, 27, 0.6);
  color: #923333;
}
